@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content:"";
	clear: both;
	height: 0;
	font-size: 0;
}

#intro {
	padding: 20em 10em 10em 10em;
	line-height: 1.5;
	background: #eee;
}

body {
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
}

h1 {
	font-family: Raleway, sans-serif;
	font-weight: 900;
	font-size: 2em;
	line-height: 1.25;
}

h2 {
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	line-height: 1.5;
	text-transform: uppercase;
	color: #9f1c30;
}

h3 {
	font-family: Raleway, sans-serif;
	font-weight: 500;
	font-size: 1.25em;
	line-height: 1.5;
}

a {
	font-family: Raleway, sans-serif;
	font-weight: 500;
	font-size: 1em;
	line-height: 6;
	color: #ec1a3b;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	color: #9f1c30;
}

.button {
	width: 200px;
	background: rgba(243,156,141,0.5);
	padding: 20px;
	margin-top: 10em;
	margin: 2px;
}

header {
	background: #eeeeee;
}

#logo {
	float: left;
	padding: 10px;
	display: inline-block;
}

nav {
	background: #eee;
	display: inline-block;
	padding: 10px;
	font-size: 1.5em;
	line-height: 1;
	font-weight: 800;
	float: right;
	margin: 1em;
	text-align: center;
}

img {
	display: block;
	padding: 2px;
}

footer {
	background: #eee;
	font-size: 1em;
	width: 100%;
	padding: 10px;
}

section {
	padding: 20px;
	margin: 0 2% 0 2%;
}

#services {
	background: #FFF;
}

.branding, .strategy, .design {
	float: left;
	margin: 0 2% 0% 2%;
	background: #fff;
	width: 28%;
}

#worksamples {
	background: #eee;
	align-content: center;
	padding: 3%;
}

.image-large {
	width: 22%;
	float: left;
	margin-right: 1%;
}

.image-small {
	width: 14.5%;
	float: left;
}

.headshot {
	float: right;
	padding: 5px;
	margin: 5px;
}

#about {
	padding: 20px;
	background: #FFF;
	margin: 0 2% 0 2%;
}

.testimonial-quote {
	float: left;
	display: block;
	width: 29%;
	margin: 1% 2%;
}

cite {
	line-height: 1.5;
	font-size: 1em;
	font-weight: 700;
}

.client-logo, .service-img {
	padding: 10px 10px 20px 0;
}

#footer-logo {
	float: right;
	width: 5em;
}

@media only screen and (max-width: 885px) {
	a {
		line-height: 5;
		font-weight: 600;
	}
	nav {
		float: none;
		width: auto;
		margin: auto;
	}
	image, .headshot {
		float: none;
		margin: auto;
		width: auto;
	}
	#intro {
		padding: 1em 1em 1em 1em;
	}
	#services, .branding, .strategy, .design, #about {
		float: none;
		margin: auto;
		width: auto;
	}
	section {
		padding: 1em;
	}
	#worksamples, .image-large {
		float: none;
		margin: auto;
		width: auto;
	}
	.image-small {
		display: none;
	}
	.testimonial-quote, footer {
		float: none;
		margin: auto;
		width: auto;
	}
	#footer-logo {
		float: none;
		width: 5em;
		margin: auto;
	}
	h1 {
		margin-top: 1em;
	}
}

@media only screen and (max-width: 835px) {
	h1 {
		margin-top: 0;
	}
	a {
		line-height: 4;
	}
	.button {
		padding: 10px;
	}
}
@media only screen and (max-width: 517px) and (min-width: 320px) {
	a {
		font-weight: 700;
		line-height: 1.75;
		font-size: 1em;
	}
	.button {
		font-weight: 700;
		padding: 5px;
		font-size: 1.25em;
	}
	body {
		font-size: 1.25em;
		line-height: 1.75;
	}
	#worksamples, .service-img, .headshot, .client-logo {
		display: none;
	}
	.testimonial-quote {
		margin-top: 1.5em;
	}
	section, .design, .branding, .strategy {
		margin: auto;
	}
	#about {
		background: #eeeeee;
	}
	#slogan {
		margin: 2% 0;
	}
	nav {
		float: none;
		padding: 1em;
	}
	#logo {
		float: none;
		width: auto;
		margin: auto;
	}
}