@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content:"";
	clear: both;
	height: 0;
	font-size: 0;
}

#intro {
	padding: 20em 10em 10em 10em;
	line-height: 1.5;
	background: #eee;
}

body {
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
}

h1 {
	font-family: Raleway, sans-serif;
	font-weight: 900;
	font-size: 2em;
	line-height: 1.25;
}

h2 {
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	line-height: 1.5;
	text-transform: uppercase;
	color: #9f1c30;
}

h3 {
	font-family: Raleway, sans-serif;
	font-weight: 500;
	font-size: 1.25em;
	line-height: 1.5;
}

a {
	font-family: Raleway, sans-serif;
	font-weight: 500;
	font-size: 1em;
	line-height: 6;
	color: #ec1a3b;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	color: #9f1c30;
}

.button {
	width: 200px;
	background: rgba(243,156,141,0.5);
	padding: 20px;
	margin-top: 10em;
	margin: 2px;
}

header {
	background: #FFED74;
}

#logo {
	float: left;
	padding: 10px;
	display: inline-block;
}

nav {
	background: #eee;
	display: inline-block;
	padding: 10px;
	font-size: 1.5em;
	line-height: 1;
	font-weight: 800;
	float: right;
	margin: 1em;
	text-align: center;
}

img {
	display: block;
	padding: 2px;
}

footer {
	background: #eee;
	font-size: 1em;
	width: 100%;
	padding: 10px;
}

section {
	padding: 20px;
}

#services {
	background: #FFF;
}

.branding, .strategy, .design {
	float: left;
	margin: 0 2% 0% 2%;
	background: #fff;
	width: 28%;
}

#worksamples {
	/*margin: 20px;*/
	background: #eee;
	align-content: center;
}

.image-large {
	width: 22%;
	float: left;
	margin-right: 1%;
}

.image-small {
	width: 14.5%;
	float: left;
}

.headshot {
	float: right;
	padding: 5px;
	margin: 5px;
}

#about {
	padding: 20px;
	background: #FFF;
}

.testimonial-quote {
	float: left;
	display: block;
	width: 31%;
	margin: 1% 2% 1% auto;
}

cite {
	line-height: 1.5;
	font-size: 1em;
	font-weight: 700;
}

.client-logo, .service-img {
	padding: 10px 10px 20px 0;
}

#footer-logo {
	float: right;
	width: 10%;
}