@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.wrapper {
	background: #eee;
	padding: 0.5em;
}

body, p {
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25em;
}

h1 {
	font-family: Raleway, sans-serif;
	font-weight: 900;
	font-size: 2em;
	line-height: 2em;
}

h2 {
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	line-height: 1.5em;
	text-transform: uppercase;
	color: #9f1c30;
}

h3 {
	font-family: Raleway, sans-serif;
	font-weight: 500;
	font-size: 1.25em;
	line-height: 1.5em;
}

a {
	font-family: Raleway, sans-serif;
	font-weight: 500;
	font-size: 1em;
	line-height: 1.25em;
	color: #ec1a3b;
}

header {
	background: #FFED74;
}

nav {
	background: #E8C66A;
}

article {
	background: #E89C6C;
}

footer {
	background: #FF957E;
	font-size: 0.5em;
}

section {
	background: #FFE2B8;
}